*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: #{ $sans-serif };
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: #{ $sourcesans-r }, #{ $sans-serif };
  font-size: 1rem;
  line-height: 1.5;
  background-color: #F6F6F6;
  color: #2D3033;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button,
input,
textarea,
main,
section {
  outline: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

a,
button {
  text-decoration: none;
  border: 0;
}

.wrapper {
  position: relative;
  top: 0;
  min-height: 100vh;
  height: auto;
  padding-bottom: 129.19px;
  margin: 0;

  @media (min-width: 234px) {
    padding-bottom: 107.59px;
  }

  @media (min-width: 381px) {
    padding-bottom: 86px;
  }
}

.content {
  min-height: calc(100vh - 129.19px);
  padding: 52px 0 20px;
  width: 100%;
  background-color: $white-color;

  @media (min-width: 234px) {
    min-height: calc(100vh - 107.59px);
  }

  @media (min-width: 381px) {
    min-height: calc(100vh - 86px);
  }
}
