
$fonts-path: '../../../assets/fonts';

$sans-serif: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;

$sourcesans-r: 'source_sans_proregular';
$sourcesans-sb: 'source_sans_prosemibold';
$sourcesans-b: 'source_sans_probold';

$text-size: 1rem !default;

$background-color: #F6F6F6 !default;
$footer-text-color: #8F8F8F !default;

$black-color: #3C4858 !default;
$white-color: #FFFFFF !default;
