
$fonts-path: '../../../assets/fonts';

$sans-serif: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;

$sourcesans-r: 'source_sans_proregular';
$sourcesans-sb: 'source_sans_prosemibold';
$sourcesans-b: 'source_sans_probold';

$text-size: 1rem !default;
$title-size: 2.5rem;

$title-color:  #616161;

$background-color: #F6F6F6 !default;
$footer-text-color: #8F8F8F !default;

$black-color: #3C4858 !default;
$white-color: #FFFFFF !default;

$aqua-color: #00FFFF;
$aqua-light-color: #0fb3b3;
$aqua-dark-color: #00ACAC;
$aqua-transition-color: #048F8F;

$input-color: #67798b;

$content-shadow-color: rgba(0, 0, 0, .08);
